body {
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     color: #777;
     background-color: #777;
     width: 960px;
     font-size: 18px;
     display: block;
     text-align: center;
     margin: auto;
}

header, nav, section, aside, footer {
    background: #ebebeb;
    padding-top: 25pt;
    padding-bottom: 25pt;
    margin: 10px 0;
}

article {
    color: #ebebeb;
    background: #777;
    margin: auto;
}

h1, p {
    color: #777;
    background: #ebebeb;
    
}

aside {
    float: right;
    width: 450px;
    padding-bottom: 225px;
    clear: none;

}

section {
    padding-bottom: 225px;
    float: left;
    position: relative;
    width: 495px;
 
}
 article, h1, p {
    float: left;
    position: absolute;

}

article {
    width: 475px;
    height: 180px;
    margin: 0 auto;
    left: 10px;
    bottom: 10px;
    padding-top: 15px;  
}

h1 {
    width: 430px;
    height: 40px;
    left: 20px;
    padding-top: 15px; 
}

p {
    width: 430px;
    height: 40px;
    left: 20px;
    bottom: 0;
    padding-top: 15px; 
}

footer {
    clear: both;
}